$primaryColor: #00628f;
$primaryDisabledColor: #3f89ab;
$primaryDark: #002d42;
$secondaryColor: #b5dcee;
$backgroundColor: #b5dcee;
$fontColor: #57acd3;
$fontColorDark: #4f6772;
$grayDark: #535454;
$lightGray: #dee3e0;
$gray:#f2f2f2;
$grayDark: #e6e6e6;
$success: #08c298;
$successDarken:#069172;
$error: #cb0000;
$warning: #ffd500;
$temp: #5aa354;
$humidity: #7ca5e5;
$co2: #dae57a;
$light: #e5ca7a;
$pm2: #a3549e;
$voc: #937ae5;

